<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
  <div class="container">
    <form action="/checkbox" method="get">
    <hr size="5" noshade>
    <h3>choose textboxes to know if they are working</h3><br>
    <div class="form-check form-switch">
    <input class="form-check-input" name="checkbox1" type="checkbox" id="flexSwitchCheckDefault">
    <label class="form-check-label" for="flexSwitchCheckDefault">checkbox1</label>
    </div>
    <div class="form-check form-switch">
    <input class="form-check-input" name="checkbox2" type="checkbox" id="flexSwitchCheckDefault1">
    <label class="form-check-label" for="flexSwitchCheckDefault1">checkbox2</label>
    </div>
    <div class="form-check form-switch">
    <input class="form-check-input" name="checkbox3" type="checkbox" id="flexSwitchCheckDefault2">
    <label class="form-check-label" for="flexSwitchCheckDefault2">checkbox3</label>
    </div>
    <hr size="5" noshade>
    <button type="submit" class="btn btn-dark mt-2">submit</button>
    </form>
</body>
</html>